<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">To:</h3>  {{ $ctrl.messageDetails.toName }}
    </div>
    <form role="form" ng-submit="$ctrl.submit()">
	    <div class="box-body">
	        <div class="form-group">
	        	<textarea name="message"
	        		class="form-control"
        			style="height: 200px"
        			ng-model="$ctrl.message"
        			placeholder="Compose new message"></textarea>
	        </div>
	        <div class="row">
	        	<div class="col-md-8">
	        		<div class="form-group">
			        	<ui-select class="form-control" multiple ng-model="$ctrl.messageDetails.tags" theme="bootstrap" sortable="true" close-on-select="false" ng-disabled="disabled" on-select="onTagSelect($item)" on-remove="onTagRemove($item)">
						    <ui-select-match placeholder="Search saved tags...">{{$item.tag_value}}</ui-select-match>
						    <ui-select-choices repeat="tag in $ctrl.allTags | propsFilter: {tag_value: $select.search}" reset-search-input=true>
						      <div ng-bind-html="tag.tag_value | highlight: $select.search"></div>
						    </ui-select-choices>
						  </ui-select>
			        </div>
	        	</div>
		        <div class="col-md-4">
		        	<div class="row">
		        		<div class="col-md-8">
		        			<div class="form-group">
		        				<input type="text" class="form-control" id="publisherName" ng-model="$ctrl.newTagValue" />
		        			</div>
		        		</div>
		        		<div class="col-md-4">
		        			<div class="form-group">
		        				<button class="btn btn-primary pull-right" ng-click="$ctrl.saveTag()" placeholder="New Tag" type="button">Save</button>	
	        				</div>
		        		</div>
		        	</div>
		        </div>
	        </div>
	    </div>
	    <div class="box-footer">
		    <div class="btn btn-default btn-file">
	              <i class="fa fa-paperclip"></i> Add Attachment

	              <input type="file" name="attachment"  file-model = "$ctrl.attachment">
            </div>

	              <button type="button" ng-click="fileNameChanged()">Upload</button>

	        	<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-envelope-o"></i> Send</button>
	    </div>
    </form>
</div>
