<div class="row pull-right" >
<div class="box box-default">
	<div class="box box-header">
		<form role="form">
			<div class="form-group">
				<div class="input-group" data-ng-submit="fillFiles();fillMessages();">
		            <div class="input-group-addon btn btn-default">
		                <i class="fa fa-search" data-ng-click="fillFiles();fillMessages()";></i>
		            </div>
								<!--
		            <input type="text" class="form-control" id="search" ng-model="$ctrl.tags.search" placeholder="Search saved tags"/>
							-->
							<ui-select class="form-control" multiple ng-model="$ctrl.selectedtags" theme="bootstrap" sortable="true" close-on-select="false" ng-disabled="disabled" on-select="onTagSelect($item)" on-remove="onTagRemove($item)">
					    <ui-select-match placeholder="Search suitable tags...">{{$item.tag_value}}</ui-select-match>
					    <ui-select-choices repeat="tag in $ctrl.allTags | propsFilter: {tag_value: $select.search}"
					    refresh="searchTag($select.search)" refresh-delay="100" reset-search-input=true>
					      <div ng-bind-html="tag.tag_value | highlight: $select.search"></div>
					    </ui-select-choices>
					  </ui-select>
		        </div>
			</div>
		</form>
	</div>
<div class="box-body">

	<div class="row">
		<div class="col-md-12">
			<!-- files here -->
			<ul class="list-group pre-scrollable">
						<li class="list-group-item list_head">

							<span style="color: #0abe50;">Files</span>
						</li>
			    <a ng-repeat="file in files" ng-class="{'fadeOut' : skill.done}"  class="list-group-item btn btn-default" data-ng-click="openUrl(file.file_data)">

			      <span class="trunc">{{file.fileName}}
			      	</span>
			    </a>
			  </ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12" >
			<!-- Messages here -->
			<ul class="list-group pre-scrollable">
					<li class="list-group-item list_head">

						<span style="color: #0abe50;">Messages</span>
					</li>
		      <a ng-repeat-start="msg in messages" ng-class="{'fadeOut' : skill.done}"  class="list-group-item" data-ng-click="msg.show = !msg.show">

		        <span class="trunc">{{msg.message_content| limitTo: 17 }}{{msg.message_content > 17 ? '...' : ''}}
						</span>
		      </a>
                <li class="list-group-item" ng-repeat-end="" data-ng-show="msg.show">
                <span style="background-color: lightgray; overflow: auto; min-height: 80px; max-width: 250px;" class="list-group-item" >
                    {{ ::msg.message_content }}
                </span>
                </li>
		    </ul>
		</div>
	</div>






</div>
</div>
</div>
